*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(32, 32, 32);
}

header{
    background-color: rgba(0, 0, 255, 0.116);
    height: 50px;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(77, 77, 240);
    text-align: center;
}

header #aide{
    cursor: pointer;
}

main{
    flex: 1;
    padding: 20px;
}

main .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

footer{
    height: 50px;
    background-color: rgba(0, 0, 255, 0.116);
    box-shadow: 0 0 10px rgb(77, 77, 240);
    padding: 20px;
}

main #table {
    height: 420px;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(77, 77, 240);
    box-shadow: 0 0 10px rgb(108, 108, 228);
}

td{
    text-align: center;
    border: 1px solid black;
    font-size: 50px;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
    color: white;
}


main .section1{
    height: 420px;
    width: 350px;
    box-shadow: 0 0 10px rgb(77, 77, 240);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .section3{
    height: 420px;
    width: 350px;
    box-shadow: 0 0 10px rgb(77, 77, 240);
    border-radius: 10px;
    color: white;
}

main .section1 #carre{
    height: 100px ;
    width: 100px ;
    background-color: rgb(236, 42, 42);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(240, 77, 77);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section1 #Lancer{
    height: 30px;
    width: 100px ;
    background-color: whitesmoke;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}

main .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cacher {
    margin: 0 200px;
    position: relative;
    top: -300px;
    visibility: hidden;
}

#cacher p{
    font-size: 20px;
    color: white;
}
